<!-- your html code here --> 


 <!--Jose Manuel -->

   

  <div class="container py-5">
    <div class="row align-items-center">
      <!-- Texto del first heading -->
      <div class="col-md-8">
        <h2>
          <strong>This First Heading</strong>
          <span class="text-muted"> Will Catch Your Eye</span>
        </h2>
        <p>
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
          Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>

      <!-- Imagen de perfil 1-->
      <div class="col-md-4 text-center">
        <img src="assets/img/1.jpg" alt="Avatar" class="circle-img">
      </div>
    </div>
  </div>

